* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: wheat;
    font-family: sans-serif;
}

.editor {
    display: flex;
    width: 100%;
    height: 100vh;
}

.toolbar {
  
    width: 250px;
    border-left:2px solid black;
    background-color: #333;
    color:#fff; 
    
}

.toolbar-item {
    padding: 0.8rem;
}

.tool-label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.8rem;
    font-weight: bold;
}

output{
    font-weight: bold;
    /* border: 2px solid red; */
}

/* sidebar section */
#sidebar{
    display: flex;
    flex-direction: column;
    color:#ffff;
    background-color:rgb(74, 71, 65);
   padding:0.4rem;
}

.tool-input {
    width: 100%;
}

.toolbarButtons{
  display:inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.4rem;
}

.image-area {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
   padding: 0.8rem 0;
    background-color: wheat;
}

#error-message {
    font-family:'Times New Roman', Times, serif;
    color: red;
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    /* border:2px solid red; */
    font-size: 26px;
    font-weight:600;
    margin-top: 3rem;
 
  }

#canvas{
    max-width: 100%;
    max-height: 100%;
    /* border: 2px solid greenyellow; */
}

#rotateLeftButton,#rotateRightButton{
padding: 0.2rem;
font-weight: 900;
}

#textOverlay{
margin-top: 0.3rem;
}

.text-overlay-options {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 1rem;
    width:23%;
    border-radius:8px;
    z-index: 1;
  }

  #textOverlayButton{
    display: block;
  }

  #textContent {
    width: 50%;
    margin:0.5rem 0.6rem 0 1rem;
    outline:none;
    border-radius: 8px;
    padding:0.3rem;
  }

  #textColor{
    margin-left:1rem;
  }
  
  #closeButton{
    position: absolute;
    top: 3%;
    right: 0%;
    background-color: #978d8d;
    cursor: pointer;
    padding: 0.2rem 0.5rem;
    border: none;
    font-weight: 700;
    outline: none;
   border-radius: 50%;
  }

  #closeButton:hover{
    background-color: red;
    color:#fff;
  }

  #closeButton:hover::before {
    content: 'Close';
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
  }

  #addTextButton{
    display: block;
    text-align: center;
    width:30%;
    margin:  0.4rem auto;
  }

  #textOverlayButton.active + #textOverlayOptions  {
    display: block;

  }
#textSizeValue{
    color:#333;
}

#textSize{
    margin:0.8rem 1.2rem;
}

.textClass{
    border:1px solid red;
}

.text-overlay {
    cursor: move;
    user-select: none;
  }
  
  .canvas-focus {
    outline: 2px dashed #000;
  }

  /* undo-redo */
  .recover{
    position:fixed;
    margin: 0.4rem;
    top: -8px;
    left: 21%;
    padding: 0.4rem 0.2rem;
    background-color:#333;
    width: 78.4%;
  }

  .image-area {
    margin-top: 2rem; 
  }

  #redoButton, #undoButton{
    background-color: #fff;
    padding: 0.2rem;
    border-radius: 8px;
  }

  #undoButton{
    margin:0 1.5rem 0 3rem;
  }
#undoButton:hover,#redoButton:hover{
  background-color:tomato;
  color:white;
}
  #undoButton:hover::before{
      content: 'Undo';
      position: absolute;
      top: 35px;
      left: 5%;
      transform: translateX(-50%);
      background-color: #333;
      color: #fff;
      padding: 5px 10px;
      border-radius: 5px;
      white-space: nowrap;
    }

  #redoButton:hover::before{
      content: 'Redo';
      position: absolute;
      top: 35px;
      left: 12%;
      transform: translateX(-50%);
      background-color: #333;
      color: #fff;
      padding: 5px 10px;
      border-radius: 5px;
      white-space: nowrap;
    }
  #saveButton{
    padding: 0.3rem;
    position: absolute;
    right:8px;
    border: none;
    outline: none;
    border-radius: 8px;
  }

  #resetButton {
    width: 84%;
    border-radius: 5px;
    margin: 1.2rem 0.8rem;
    padding: 0.5rem;
    border: none;
  }

